Source: django-statistics
Section: python
Priority: extra
Build-Depends: debhelper (>= 7.0.50~), quilt
Build-Depends-Indep: python-support (>= 1.0)
Maintainer: Matteo Atti <matteo.atti@servabit.it>
Standards-Version: 3.8.0
XS-Python-Version: >= 2.6

Package: python-django-statistics
Section: python
Priority: extra
Architecture: all
Depends: ${misc:Depends}, ${python:Depends} , python-django, python-django-tracking
Provides: ${python:Provides}
Description: Semplice tool per tracciare in Django le statistiche delle visite
 .

